<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Add a job</title>
</head>
<style>
    .jumbotron{
        text-align: center;
    }
    .messages{
        color: red;
    }
</style>

<body>

    <div class='jumbotron jumbotron-fluid'>
        <h1>Hey {{user.first_name}}, let's add a job!</h1>
        <div class='content'>
            <form method='POST' action='/create'>
                {%csrf_token%}
                <p>Title: <input type='text' name='title' > </p>
                <p>Description: <input type='text' name='description'></p>
                <p>Location: <input type='text' name='location'></p>
                <p><input type='submit' value='Submit'></p>
                <a href='/dashboard'> Back to all Jobs</a>
            </form>
        </div>
        <div class='messages'>
            
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}

        </div>

</body>

</html>